.bg-products {
  background-color: #f2e9dd;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex: 1;
  overflow-y: auto;
}
.product-items {
  height: inherit;
}
.item-container{
  margin-top: 12vh;
  margin-left: 30vh;
  gap: 30px;
}
#product-footer {
  background-color: #6f4e377d;
  color: #f6e6d2;
  font-family: "Quicksand";
  position: fixed;
  bottom: 0;
  min-width: 100vw;
  backdrop-filter: blur(2px);
}
#product-items {
  color: #f6e6d2;
  font-family: "Quicksand";
}
#product-checkout-btn {
  color: #303030;
  font-family: "Quicksand";
  background-color: #b5c99a;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.307);
}
.search-btn {
  background-color: #b5c99a;
  border: none;
}
.search-btn:hover {
  background-color: #b5c99ac0;
}
.search-product {
  width: 70vw;
}
