html,
body {
  height: 100vh;
  max-width: 100vw;
  background-color: #f7f7f7;
  font-family: "Quicksand";
}

.cart-container {
  height: 100vh;
  width: 100vw;
}
.quantity{
  width: 3vw;
  text-align: center;
  align-content: center;
}

.ordered-items {
  height: 210px;
  border-radius: 4px;
  background-color: #f7f7f7 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  width: 50vw;
}
