.sidebar-customer {
  width: 250px;
  background-color: #3E2C23;
  color: #C7A17A;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-shrink: 0;
  position: fixed;
  font-family: "Quicksand";
}

.sidebar-title {
  font-size: 1.5rem;
  color: #F5F2EF;
  text-align: center;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-link {
  font-family: "Quicksand";
  color: #C7A17A;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.2s ease;
  border: none;
  background-color: #3E2C23;
}
.sidebar-button {
  font-family: "Quicksand";
  color: #C7A17A;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.2s ease;
  background-color: #f7f7f7;
  text-align: center;
  padding: 12px;
  border-radius: 50px;
}

.sidebar-link:hover {
  color: #FAF9F6;
}
.sidebar-link:active {
  color: #9c9c9c;
  background-color: white;
}
.sidebar-button:hover {
  color: #3E2C23;
}

.form-control{
  color:#3E2C23;
}